@import "tailwindcss";
@plugin "daisyui" {
    themes: winter --default, sunset --prefersdark;
}

@theme {
    --font-sans: InterVariable, sans-serif;
}

[data-count="0"] + #copy-button {
    display: none;
}
